# Kopiér denne fil til ".env" og udfyld værdierne.
# Projekt-ID får du når du opretter et projekt på https://www.sanity.io/manage
SANITY_STUDIO_PROJECT_ID="dit_projekt_id"
SANITY_STUDIO_DATASET="production"
